        <!-- Modal -->
        <div class="modal fade" id="editModalFacilities" tabindex="-1" role="dialog" aria-labelledby="editModalFacilitiesLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalFacilitiesLabel">Ubah Data Fasilitas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/admin/item/detail-item/<%= itemId %>/facilities?_method=PUT" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Fasilitas</label>
                            <input type="text" class="form-control name" id="name" name="name" placeholder="Masukkan fasilitas" required>
                        </div>
                        <div class="form-group">
                            <label for="image">Gambar</label>
                            <input type="file" class="form-control" id="image" name="image">
                            <span>Silahkan ganti gambar</span>
                        </div>
                        <div class="form-group">
                            <label for="qty">Jumlah</label>
                            <input type="text" class="form-control qty" id="qty" name="qty" placeholder="Masukkan jumlah fasilitas" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" class="form-control id" id="id" name="id">
                        <input type="hidden" class="form-control" value="<%= itemId %>" name="itemId">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                        <button type="submit" class="btn btn-primary">Ubah Data</button>
                    </div>
                </form>
            </div>
            </div>
        </div>